.topnav {
    overflow: hidden;
    background-color: black;
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a.icon {
    float: right;
  }
  
  .topnav a:hover {
    background-color: yellow;
    color: black;
  }
  
  .active {
    background-color: crimson;
    color: white;
  }